html , body {
	font-family: 'Montserrat',sans-serif;
	background-image: url("https://googledrive.com/host/0B49O7YfDYh5vZDJjcURtM05UZVE");
    background-color: #cccccc;
}

h5 {
	padding-top: 10px;
	padding-bottom: 10px;
	/*border-left: 5px solid #00f28f;*/
	font-size: 20px;
	font-weight: 400;
	padding-left: 35px;
	background-color: #e1eaea; 
	/*border-radius: 10px;*/
}

.main {
	margin-top: 80px;
}


html , body {
	font-family: 'Montserrat',sans-serif;
}

.navbar {
	padding: 10px;
	background-color: #f0f5f5;
}

#brandname {
	padding-left: 100px;
	padding-right: 100px;
	font-size:35px;
	color:  #1f2e2e;
}

h1 {
	padding-top: 40px;
	border-left: 5px solid #00f28f;
	font-size: 48px;
	font-weight: 400;
	padding-left: 20px;
	/*background-color: #ffffd0;*/ 
	/*border-radius: 10px;*/
}

h5 {
	padding-top: 40px;
	padding-bottom: 40px;
	/*border-left: 5px solid #00f28f;*/
	font-size: 55px;
	font-weight: 400;
	padding-left: 40px;
	background-color: #ccff66;
	/*border-radius: 10px;*/
}

.main {
	margin-top: 80px;
}

form input {
	background: #f0f0f0;

	border: none;
	border-left: 2px solid #ffffff;
	border-radius: 3px;
	
	font-size: 36px;
	padding: 20px;
	width: 100%;

	transition: background 0.5s, border-left 0.5s;
}

form input:focus {
	background: #fff;
	border-left: 2px solid #000;
	/*box-shadow: none;*/
	outline: none;
}

button.btn {
/*	background: transparent;*/
	border:none;
	color: #00f28f;
	cursor: pointer;
	font-size: 36px;
	padding: 20px 24px;
	transition: background 2s, color 1s;
}

button.btn:hover{
	background: #00f28f;
	color: #fff;
}

.comments {
	padding-top: 10px;
	margin-top: 20px;
	list-style: none;
	padding-left: 0px;
}

.comments.li {
	padding-left: 20px;
	border-left: 2px solid #000;
	font-size:36px;
	margin: 0 0 36px; 
}

#navbarul {
	border-right: 1px solid #b1cdcd;	
}

li {
	color: #000;
	padding: 0px 20px 0px 20px;
	border-left: 1px solid #b1cdcd;
	border-bottom: 10px;
	font-size:36px;
	margin: 0 0 0px; 
}

a {
	font-size:25px;

}
